@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* closes the gap between the top of the page and the next section, the hero section  */
ul {
    margin-top: 0px;
}

/* closes all gaps created by the body tag */
body {
    margin: 0px
}

.top-banner {
    background-color: #1F2937;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.header {
    padding-top: 15px;
    padding-left: 150px;
    padding-right: 150px;
}

.logo-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

ul {
    display: flex;
    column-gap: 20px;
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

.right-header-start {
    margin-left: auto;
}

.featured-content {
    display: flex;
    height: 250px;
    justify-content: center;
    margin-top: 75px;

}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

li,
.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.left-featured-content {
    width: 525px;
    height: 200px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 5px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    border-radius: 5px;
    padding: 5px 25px;
    font-weight: 700;
    /* margin-top: 5px; */
}

.right-featured-content {
    width: 525px;
    height: 200px;
    background-color: #98999b;
    color: #F9FAF8;
    margin-left: auto;
    margin-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-info-banner {
    display: flex;
    flex-direction: column;
}

.random-subheader {
    color: #1F2937;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.random-square-card {
    width: 160px;
    height: 160px;
    border: 3.5px solid #3882F6;
    border-radius: 10%;
}